
  html, body{
      color: #777777;
      border-color: #dddddd;
      height: 100%;  	
      float:none;
    }
  h4{
      color: black;
      font-family: Georgia, 'Times New Roman', Times, serif;

  }
  p {
    font-family: cursive;
    font-size: 25px;
  }
header{
    font: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: seagreen;
    justify-content: center;
    font-size: 40px;

}
  .container {
    min-height: 100%;
    height: 100%;
    width:80%;
    padding: 20px;
    border: 2px solid #021b1a;
  }
.pg{
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
}

